:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my own settings */

/* Main */

.logo {
  /* font-family: "Arial", sans-serif; */
  font-size: 40px;
  font-weight: bold;
  color: #206cbd; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  /* background-color: #f5ebe0;  */
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.05); 
}


.body {
  background-color: snow;
  /* background-color: #03071e; */
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

/* User Profile */

.user-profile {
  padding: 20px;
}

.profile-details {
  display: flex;
  align-items: center;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info p {

    margin-bottom: 10px;
}


.profile-info h2 {
  margin-bottom: 20px;
}

/* Reply  */

.reply-thumbnail {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.7;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.reply-icon {
  margin-right: 5px
}


/* error message */

/* .form-error {
  color: red;
} */

/* dropdown menu  */

.menu-container {
  position: relative;
}



.menu-trigger {
  /* position: absolute; */
  /* top: 20px; */
  /* right: 20px; */
  /* height: 60px; */
  /* width: 60px; */
  cursor: pointer;
  padding: 10px;
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* overflow: hidden; */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--border-radius)px;
  padding: 10px 20px;
  display: none;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu h3 {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  color: var(--primary-text-color);
  /* line-height: 1.2rem; */
  /* border-bottom: 1px solid #ccc; */
}
.dropdown-menu h5 {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li a{
  padding: 10px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); TODO LIKELY TO REMOVE*/
  border-bottom: 1px solid #ccc;
}

.dropdown-menu ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem-img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdown-menu ul li:hover a{
  color: rgb(9, 185, 212);
  cursor: pointer;
}

.hover-blue:hover {
  color: rgb(9, 185, 212);
  /* cursor: pointer; */
}



.dropdown-menu ul li:last-child {
  border-bottom: none;
}



.dropdown-menu ul li a svg {
  margin-right: 10px;
}

/* sidebar */

.sidebar {
  font-size: 16px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
}

.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar h3 {
  
  font-size: 18px;
  color: var(--primary-text-color);
  /* line-height: 1.2rem; */
  /* border-bottom: 1px solid #ccc; */
}

.sidebar_header {
  margin: 10px;
  padding: 10px;
  position: sticky;
  text-align: center;
}

.sidebar small {
  color: #888;
}

.sidebar h5 {
  margin: 10px;
  padding: 10px;
  /* background-color: #fff; */
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.sidebar div {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  padding: 10px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); TODO LIKELY TO REMOVE*/
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: "flex";
  align-items: "center"
}

.sidebar-item a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.7;
  transition: var(--speed);
}
/* Sticky */
.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh; 
  overflow-y: auto; 
}

.sticky-header {
  position: sticky;
  top: 0;
  /* height: 100vh;  */
  overflow-y: auto; 
  z-index: 99;
}

/* .sticky-navbar {
  position: fixed;
  top: 0;
  overflow-y: auto; 
  z-index: 100;
} */

/* AddComment.css */
.sticky-add-comment {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 100;
  border-top: 1px solid #ccc;
}


/* experiment */
/* Custom CSS for CommentSection component */

/* Adjust image size for profile pics */
.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* Add spacing between comments */
.mb-4 {
  margin-bottom: 20px;
}

/* Add cursor pointer to reply badge */
.cursor-pointer {
  cursor: pointer;
}


/* Comments */

/* .highlighted-comment {
  background-color: #f3f3f3;

} */

#commentUserHeader {
  /* background-color: rgb(168, 196, 206); */ 
}

.highlighted-comment {
  background-color: #e3d5ca;
  transition: background-color 0.5s;
}

.highlighted-comment:hover {
  background-color: #ffffff;
}

/* .comment-section {
  background-color: #cbdfe1;
} */
.comment-section {
  /* max-height: 500px; Set a maximum height for the comment section to enable scrolling */
  background-color: #ffc8dd; /* Add a background color for better readability */
  /* background-color: #cbdfe1; */
  padding: 15px; /* Add some padding to the comment section */
  min-height: 400px;
  overflow-y: auto; 
  /* Enable vertical scrolling */
}

.comment-section::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.comment-section::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

.comment-section::-webkit-scrollbar-thumb {
  background: #9d5858; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.comment-section::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Styling for the individual comments */

/* Align logged-in user's comment to the right */
.user-comment {
  justify-content: end;
  
}

/* Align other users' comments to the left */
.other-comment {
  justify-content: flex-start;
}

.comment-card {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

/* "comment-options-menu" */
.comment-options-menu {
  position: absolute;
  top: 20;
  right: 0; /* Initial position outside the screen */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  transition: right 0.3s ease-in-out; /* Transition animation for smooth movement */
  z-index: 1; /* Make sure the options menu appears above other content */
}


/* Styling for the reply thumbnail */
.reply-thumbnail {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Styling for the cancel reply icon */
.cancel-reply-icon {
  cursor: pointer;
}
/*  room page  */

/* .room-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  padding: 10px;  
} */

.room-header {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  /* top: 0; */
  /* left: 40; */
  /* z-index: 999; */
  width: 150rem;
}

.room-header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  position: sticky;
  z-index: 9999;
  
}

.room-header p {
  font-size: 16px;
  color: #555;
}

.host-name {
  font-weight: bold;
  color: #007bff;
}

.follow-list {
  color: #00b4d8
}

/* ProfilePage.css */

/* .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
} */

.profile-image {
  height: 100%; /* Make the image take the full height of its container */
  object-fit: cover; /* Adjust the image to cover the container while maintaining aspect ratio */
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

